.leftDiv
{
    width: 20%;
    min-height: 543px;
    float: left;
    text-align: center;
    line-height: 40px;
}

.rightDiv
{
    width: 75%;
    min-height: 300px;
    
    float: left;
    text-align: center;
    
}

.mainDiv
{
width: 100%;
margin-bottom: 5px;
}